/* ====== For Mobile ====== */

@media screen and (max-width: 650px) {
    .container {
        height: 60vh;
    }

    /*======= Navbar Section ======*/
    .navbar {
        padding: 20px;
    }

    .logo {
        margin: 0;
        padding-left: 20px;

    }

    /*======= banner Section ======*/
    .banner-content {
        top: 30%;
    }

    .heading {
        font-size: 22px;
    }

    .text {
        font-size: 14px;
    }

    /*======= about Section ======*/
    .about {
        width: 80%;
        text-align: center;
    }

    .about p {
        text-align: justify;
    }


}

/* ====== For tablet ====== */
@media screen and (max-width: 900px) {
    h2 {
        font-size: 30px;
    }

    .logo {
        font-size: 16px;
        font-weight: 800;
    }
}