* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    overflow-wrap: break-word;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container2{
    width: 70%;
    margin: 0 50px;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/hero.jpg') no-repeat;
    width: 100%;
    height: 680px;
    background-size: cover;
    background-position: top center;
    color: #f8f9fa;
}

/*======= header Section ======*/
header {
    width: 100%;
}

/*======= Navbar Section ======*/

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 10px 90px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: transparent;
}
.nav-icon{
    margin-right: 188px;
}
.logo {
    font-size: 20px;
    font-weight: 800;
    padding-left: 57px;
    margin-left: 70px;
}

/*======= banner Section ======*/
.banner {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
    max-width: 450px;
}


.heading {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.text {
    line-height: 1.4;
}

.button-container {
    margin-top: 25px;
}

.button {
    background: #e8680c !important;
    border: 1px solid #e8680c !important;
    color: #fff !important;
    border-radius: 4px;
    height: 45px;
    width: 170px;
    font-size: 13px;
    font-weight: 700;
}

/*======= about Section ======*/
.about {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.about-container h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.2;
    color: #272727;
}

.about-container p {
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 1.4;
    color: #272727;
    font-weight: 500;
}